<!-- CREATE EVENT MODAL -->
<div class="ui longer modal create-event">
  <i class="close icon"></i>
  <div style="font-size: 30px" class="header">
    Create An Event
  </div>

  <div class="scrolling content">
    <form id="create-event-form" method="POST" action="/events">
      <div class="ui form">
        <div class="field">
          <label>Event Title</label>
          <input name="name" type="text" placeholder="E.g. Cryptocurrency 101">
        </div>
        <div class="field datetime">
          <label>Date</label>
          <input name="date" id="date-input" type="date">

        </div>
        <div class="field time">
          <label>Start Time</label>
          <input name="starttime" type="time">
        </div>
        <div class="field time">
          <label>End Time</label>
          <input name="endtime" type="time">
        </div>

        <div id="locationField">
          <div class="field">
            <label>Venue Location</label>
            <input id="autocomplete" placeholder="Enter your address"
            onFocus="geolocate()" type="text"></input>
            <input id="lat-input" name="lat" type="text" style="display:none;"></input>
            <input id="lng-input" name="lng" type="text" style="display:none;"></input>
          </div>
        </div>
        <br>

        <div class="field">
          <label>Event Category</label>
          <div class="ui fluid selection dropdown">
            <input name="category" type="hidden" placeholder="Event Category">
            <i class="dropdown icon"></i>
            <div class="default text">Select a Category</div>

            <div class="menu">
              <div class="item" value="Career and Business">
                <i class="briefcase icon"></i>
                Career & Business
              </div>
              <div class="item" data-value="Tech">
                <img class="ui mini avatar image" src="img/robot.png" style="margin-left:-3.5;">
                Tech
              </div>
              <div class="item" data-value="Sports and Wellness">
                <i class="heartbeat icon"></i>
                Sports & Wellness
              </div>
              <div class="item" data-value="Learning">
                <i class="book icon"></i>
                Learning
              </div>
              <div class="item" data-value="Arts and Culture">
                <img class="ui mini avatar image" src="img/arts-icon.svg" style="width: 18px; margin-left:0px;">
                Arts & Culture
              </div>
              <div class="item" data-value="Others">
                <img class="ui mini avatar image" src="img/others-icon.svg" style="width: 15px; margin-left:0px;">
                Others
              </div>
            </div>

          </div>
          <br>
          <div class="field textarea">
            <label>Event Description</label>
            <textarea name="description" type="text" placeholder="Tell us about your event."></textarea>
          </div>

        </div>

        <script>
        $('.ui.dropdown')
        .dropdown();

        </script>

      </div>

    </form>
  </div>

  <div class="actions">
    <button class="ui right aligned olive button" onclick="submitForm()">Submit</button>
  </div>
</div>
