html, body {margin: 0; height: 100%; width: 100%; overflow: hidden}

#map { position:absolute; top:0; width:100%; height: 100%; z-index: 0; }

#cookie-logo {
  width: 350px;
  display: block;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#cookie-logo-container {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 225px;
  overflow: hidden;
  position: relative;
}

#signin-form {
  margin-left: 12px;
  margin-right: 12px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.ui.form {
  font-size: 18px;
}

button:focus, button:active {
  outline: none;
  border: none;
}

#sign-out-button {
  position: absolute;
  margin-left: 10px;
  margin-top: 11px;
}

a {
  display: inline;
}

.ui.card {
  margin-left: 10px;
}

.container {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
}

.ui.success.message {
  margin-bottom: 80px;
}

#navbar {
  position:absolute;
 /* remove this and left:50% for desktop */
 margin-left:-150px;
 bottom:10px;
 left:72%;
}

.category-dropdown {
  display: inline;
  vertical-align: middle;
}

.category-dropdown-img {
  width: 18px;
}
.scrolling.content {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 750px;
  width: 400px;
}
