html, body {margin: 0; height: 100%; overflow: hidden}

#tree-talk-logo {
  width: 450px;
  display: block;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#tree-talk-logo-container {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#signin-form {
  margin-left: 12px;
  margin-right: 12px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.ui.form {
  font-size: 18px;
}

button:focus, button:active {
  outline: none;
  border: none;
}

#others-icon, #arts-icon {
  width: 25px;
  margin-right: 7px;
}

#robot-icon {
  width: 30px;
  margin-left: -4px;
  margin-right: 4px;
}

#sign-out-button {
  /* margin-bottom: 700px;
  margin-left: -5;
  margin-right: 100; */
  position: absolute;
  margin-left: 9px;
  margin-top: 9px;
}

a {
  display: inline;
}

.ui.card {
  margin-left: 10px;
}

.container {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  /* background-color: pink; */
}

.ui.success.message {
  margin-bottom: 80px;
}

#navbar {
  text-align: center;
  /* margin: 0 auto; */

  margin-left: -5px;
  position: absolute;
  bottom: 12px;
  /* bottom: 60px; */
  width: 100%;
}


.scrolling.content {
  position: relative;
  /* margin: 0 auto; */
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 750px;
  width: 400px;
}
